<div class="popup02_main" ng-controller="RemoveWarningCtrl">
    <div class="info"><p>删除后将无法恢复，您确定要删除吗？</p></div>
    <div class="btn">
        <a href="javascript:void(0)" style="margin-right:10px;" ng-click="confirm()">
            <img src="images/btn_confirm.gif"
                 onmouseover="this.src='images/btn_confirm_hover.gif'"
                 onmousedown="this.src='images/btn_confirm_click.gif'"
                 onmouseout="this.src='images/btn_confirm.gif'"/>
        </a>
        <a href="javascript:void(0)"  ng-click="close()">
            <img src="images/btn_close.gif" onmouseover="this.src='images/btn_close_hover.gif'"
                 onmousedown="this.src='images/btn_close_click.gif'"
                 onmouseout="this.src='images/btn_close.gif'"/>
        </a>
    </div>
</div>