<div class="header">
    <h1><a href="#none"><img src="images/title_01.gif" /></a></h1>
    <span class="nav">
        <a href="#none">
            <img src="images/btn_nav.gif" alt="项目管理"
                 onmouseover="this.src='images/btn_nav_hover.gif'"
                 onmousedown="this.src='images/btn_nav_click.gif'"
                 onmouseout="this.src='images/btn_nav.gif'" />
        </a>
    </span>

    <span class="out">
        <a href="#none">
            <img src="images/btn_out.gif" alt="退出"
                 onmouseover="this.src='images/btn_out_hover.gif'"
                 onmousedown="this.src='images/btn_out_click.gif'"
                 onmouseout="this.src='images/btn_out.gif'" />
        </a>
    </span>
</div>

<div id="contents">
    <span class="slideup">
            <a href="#none"><img src="images/btn_scroll.gif"/></a>
        </span>

    <div class="searchbox" ng-controller="SearchCtrl">
        <table cellpadding="0" cellspacing="0" border="0">
            <colgroup>
                <col width="4%"/>
                <col width="10%"/>
                <col width="6%"/>
                <col width="10%"/>
                <col width="4%"/>
                <col width="10%"/>
                <col width="6%"/>
                <col width="10%"/>
                <col width="6%"/>
                <col width="10%"/>
                <col width="6%"/>
                <col width="10%"/>
            </colgroup>
            <tbody>
            <tr>
                <th><label for="search_corporation">法人：</label></th>
                <td>
                    <input id="search_corporation" class="searchinput"/>
                </td>
                <th><label for="search_sales_rep">销售代表：</label></th>
                <td>
                    <input id="search_sales_rep" class="searchinput"/>
                </td>
                <th><label for="search_project_type">分类：</label></th>
                <td>
                    <select id="search_project_type">
                        <option ng-repeat="projectType in projectTypes" value="{{projectType.id}}">
                            {{projectType.value}}
                        </option>
                    </select>
                </td>
                <th><label for="search_project_no">项目编号：</label></th>
                <td>
                    <input id="search_project_no" class="searchinput"/>
                </td>
                <th><label for="search_estimate_date">订单预期：</label></th>
                <td>
                    <input id="search_estimate_date" class="searchinput"/>
                </td>
                <th>签合同是否：</th>
                <td>
                    <a href="#none" class="radio {{contractY}}" ng-click="radio(0)">是</a>
                    <a href="#none" class="radio {{contractN}}" ng-click="radio(1)">否</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="searchbtn"><a href="#none">
        <img src="images/btn_search.gif" alt="退出"
             onmouseover="this.src='images/btn_search_hover.gif'"
             onmousedown="this.src='images/btn_search_click.gif'"
             onmouseout="this.src='images/btn_search.gif'" /></a></div>

    <div class="commonbtn">
        <ul class="left">
            <li><a href="#none" ng-click="pop()">
                <img src="images/btn_plus.gif" alt="新增"
                     onmouseover="this.src='images/btn_plus_hover.gif'"
                     onmousedown="this.src='images/btn_plus_click.gif'"
                     onmouseout="this.src='images/btn_plus.gif'" /></a>

                <div class="info"><img src="images/img_plus.png" /></div>
            </li>
            <li><a href="#none">
                <img src="images/btn_minus.gif" alt="删除"
                     onmouseover="this.src='images/btn_minus_hover.gif'"
                     onmousedown="this.src='images/btn_minus_click.gif'"
                     onmouseout="this.src='images/btn_minus.gif'" /></a>

                <div class="info"><img src="images/img_minus.png" /></div>
            </li>
        </ul>
        <ul class="right">
            <li><a href="#none">
                <img src="images/btn_save.gif" alt="保存"
                     onmouseover="this.src='images/btn_save_hover.gif'"
                     onmousedown="this.src='images/btn_save_click.gif'"
                     onmouseout="this.src='images/btn_save.gif'" /></a>

                <div class="info"><img src="images/img_save.png" /></div>
            </li>
            <li><a href="#none">
                <img src="images/btn_refresh.gif" alt="刷新"
                     onmouseover="this.src='images/btn_refresh_hover.gif'"
                     onmousedown="this.src='images/btn_refresh_click.gif'"
                     onmouseout="this.src='images/btn_refresh.gif'" /></a>
                <div class="info"><img src="images/img_refresh.png" /></div>
            </li>
            <li><a href="#none">
                <img src="images/btn_excel.gif" alt="excel表格"
                     onmouseover="this.src='images/btn_excel_hover.gif'"
                     onmousedown="this.src='images/btn_excel_click.gif'"
                     onmouseout="this.src='images/btn_excel.gif'" /></a>
                <div class="info"><img src="images/img_excel.png" /></div>
            </li>
        </ul>
    </div>

    <div id="data">
        <div class="tablemain">
            <table cellpadding="0" cellspacing="0" border="0" ng-controller="ProjectCtrl">
                <colgroup>
                    <col width="27px"/>
                    <col width="36px"/>
                    <col width="85px"/>
                    <col width="94px"/>
                    <col width="62px"/>
                    <col width="104px"/>
                    <col width="126px"/>
                    <col width="214px"/>
                    <col width="110px"/>
                    <col width="176px"/>
                    <col width="91px"/>
                    <col width="94px"/>
                </colgroup>
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>No</th>
                    <th>法人</th>
                    <th>销售代表</th>
                    <th>可能性</th>
                    <th>类型</th>
                    <th>项目编号</th>
                    <th>项目名称</th>
                    <th>维护结束日期</th>
                    <th>PJT期间</th>
                    <th>订单预期</th>
                    <th>销售额</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in projects">
                    <td><a href="#none" class="checkbox" ng-click="checkbox($event)"></a></td>
                    <td>{{$index + 1}}</td>
                    <td class="green"><input value="{{project.corporation}}"></td>
                    <td class="green">{{project.saleRepresentativeName}}</td>
                    <td class="green"><input value="{{project.capability}}%"></td>
                    <td><input value="{{project.projectType}}"></td>
                    <td><input value="{{project.projectNo}}"></td>
                    <td><input value="{{project.projectName}}"></td>
                    <td><input class="date" value="{{project.previousContractDate}}" date-picker></td>
                    <td>
                        <input class="period-input date" value="{{project.startDate}}" date-picker>
                        -
                        <input class="period-input date" value="{{project.endDate}}" date-picker>
                    </td>
                    <td><input class="month" value="{{project.estimateContractDate}}" date-picker></td>
                    <td><input value="￥{{project.sum}}"></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="page">
            <dl class="nm">
                <dt>Total&nbsp;:&nbsp;</dt>
                <dd>98</dd>
            </dl>
            <ul class="page_nm">
                <li><a href="#none"><img src="images/btn_leftall.gif" /></a></li>
                <li><a href="#none"><img src="images/btn_left.gif" /></a></li>
                <li><a href="#none">1</a></li>
                <li><a href="#none">2</a></li>
                <li><a href="#none">3</a></li>
                <li><a href="#none" class="on">4</a></li>
                <li><a href="#none">5</a></li>
                <li><a href="#none">6</a></li>
                <li><a href="#none">7</a></li>
                <li><a href="#none">8</a></li>
                <li><a href="#none">9</a></li>
                <li><a href="#none"><img src="images/btn_right.gif" /></a></li>
                <li><a href="#none"><img src="images/btn_rightall.gif" /></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="footer">
    <div class="copyright"><img src="images/img_copyright.gif"/></div>
</div>

<div ng-include="'views/popup.html'"></div>


